@charset "utf-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> CSS STANDARDS
----------------------------------------------------------------
1. Place in appropriate section
2. Add new sections to the Table of Contents as needed
3. Order properties consistently inside each declaration i.e. alphabetically or by function 
4. Declaration selectors should each occupy a new line
5. Enter one new line between rules
6. Enter more than one new line between categories 
--------------------------------------------------------------*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
4.0 - Elements: styling for bare/generic HTML elements 
        - Forms
        - Lists
        - Media
        - Tables
        - Typography: Headings, Paragraphs, Blockquotes, Anchors
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framework
6.0 - Components: specific designed components
        - Buttons
        - Header
        - Navigation 
7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class
        - Alignment	    
        - Color
        - Size

--------------------------------------------------------------*/

/*--------------------------------------------------------------
3.0 - GENERIC
-------------------------------------------------------------- */

html {
	background-color: #4B1302;
	color: #FFF;
	font-family: 'Nunito Sans', sans-serif;
	font-size: .9rem;
	line-height: 1.5rem;
}

@media only screen and (min-width: 768px) {
	html {
		font-size: .95rem;
	}
}

@media only screen and (min-width: 1024px) {
	html {
		font-size: 1rem;
	}
}


/*--------------------------------------------------------------
4.0 - ELEMENTS
-------------------------------------------------------------- */

a {
	color: #FFF;
	text-decoration:none;
}

a:hover {
	opacity: 0.6;
}

ul {
	padding: 0;
}

li {
	list-style-type: none;
}

header nav {
	text-align: right;
}

header nav li {
	margin-left: 4rem;
}

/* -- TYPOGRAPHY -- */ 


@media only screen and (min-width: 768px) {
	
}

@media only screen and (min-width: 1024px) {
	
}

h2 {
	background-color: #4B1302;
	display: inline;
	padding: 0 20px;
}

/*--------------------------------------------------------------
5.0 - OBJECTS
-------------------------------------------------------------- */

/* -- FRAMEWORK -- */ 



/*--------------------------------------------------------------
6.0 - COMPONENTS
-------------------------------------------------------------- */

/* -- HEADER -- */

#hero {
	background: url("../img/hero.jpg") no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 1rem;
}

#hero > div {
	padding-top: rem;
}

#hero > div:last-child {
	padding-bottom: 2rem;
}

#hero > div > div > p:first-child {
	font-size: 2rem;
	font-weight: 700;
}

#hero > div > div > p:nth-child(2) {
	font-size: 1.5rem;
	font-weight: 700;
	margin: .5rem 0;
}

#hero > div > div > p:nth-child(3) {
	margin: 6rem 0;
}

/* -- BUTTONS -- */

.btn {
	padding: .75em 1.5rem;
	text-decoration: none;
	font-size: 1rem;
	font-weight: 700;
	margin: 3rem 0;
	border: 2px #FFF solid;
	color: #FFF;
}

.btn:hover {
	background-color: #FFF;
	color: #4B1302;
	opacity: 1.0
}

/* -- LAYOUT -- */

header nav {
	margin-top: 40px;
}

header nav li {
	display: inline-block;
}



/*--------------------------------------------------------------
7.0 - UTILITIES
-------------------------------------------------------------- */

.center  {
	float: none;
	margin: 0 auto;
}

.t-center {
	text-align: center;
}

.f-right {
	float: right;
}

.logo:hover {
	opacity: 0.6;
}

.h2 {
	margin: 75px 0 125px 0;
}

.h2-box {
	position: relative;
}

.h2-box:after {
	content: "";
	display: inline-block;
	border: 2px #FFF solid;
	width: calc(100%*12/12);
	height: 100px;
	position: absolute;
	top: 10px;
	left: 0px;
	z-index: -1;
}

@media only screen and (max-width: 768px) {
	.hide-sm {
		display: none;
	}
}

@media only screen and (max-width: 1024px and min-width: 768px) {
	#roasts div.row div {
		display: table;
		clear: both;
	}
	
	.f-right-md {
		float: right;
	}
}